html, body {
  width: 100%;
  height: 100%;
}

p {
  width: 800px;
}

p.code {
  white-space: pre;
}

.heading::after {
  content: " ";
  width: 100%;
  background: red;
}

.content {
  display: none;
}

.gets-typed {
  display: none;
}

#cursor {
  width: 0;
  height: 0;

  margin-bottom: -28px;
  margin-right: -14px;
}

#cursor::after {
  content: " ";
  display: inline-block;
  background: red;
  padding-bottom: 28px;
  padding-right: 14px;

}

#inner {
  padding-left: 25px;
}

#contact {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
