html, body {
  width: 100%;
  height: 100%;
}

p {
  width: 800px;
}

p.code {
  white-space: pre;
}

.content {
  display: none;
}

#inner {
  padding-left: 25px;
}

#contact {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
