html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  display: block;
  font-size: 1.5rem;
}

p, code, img {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1, .h1 {
  font-size: 2.0rem;
  margin-bottom: 0.5rem;
}

h2, .h2 {
  font-size: 1.75rem;
  margin-bottom: 0.3rem;
}

h3, .h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

h4, .h4 {
  font-size: 1.35rem;
  margin-bottom: 0.25rem;
}

h5, .h5 {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

h6, .h6 {
  font-size: 0.5rem;
  margin-bottom: 0.25rem;
}

img {
  max-width: 400px;
}



/* HELPER CLASSES */

.indented {
  padding-left: 1.2em;
}

.marg-0-10 {
  margin: 0 10px;
}

.marg-10-0 {
  margin: 10px 0;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.pl-5 {
  padding-left: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pt-18 {
  padding-top: 18px;
}

.pad-0 {
  padding: 0;
}

.pad-10 {
  padding: 10px;
}

.pad-20 {
  padding: 20px;
}

.pad-15 {
  padding: 15px;
}

.pad-15-0 {
  padding: 15px 0px;
}

.pad-0-15 {
  padding: 0px 15px;
}

.pad-0-10 {
  padding: 0px 10px;
}

