
:root {
  --color-cursor: #F7208B;

  /* --link-color-1: #8E61DF; */
  /* --link-color-2: #66D9EF; */
  /* --link-color-3: #CE3D73; */
  /* --link-color-4: #F5EF2E; */


  --link-color-1: #46244C;
  --link-color-2: #712B75;
  --link-color-3: #a34c27;

  --link-color-4: #46244C;  /* RHS links */
  --link-color-5: #bc326e;

  --background-light: #202020;
  --background-dark: #151515;

  /* --text-normal: var(--background-light); */
  --text-normal: #d3d0b7;
  --text-dark: #6d6c66;
  --text-link: #ce673b; /* lighter version of --link-color-3 */
}

html, body {
  font-family:  'Oxygen Mono', monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-dark);
  color: var(--text-normal);
}

a {
  color: var(--text-link);
}

.typing-active::after{
  content: " ";
  background: var(--color-cursor);
}

.cursor-off::after {
  display: none;
}

.gets-typed {
  white-space: pre-wrap;
  display: inline-block;
}

.click-expand {
  cursor: pointer;
  margin-bottom: 1.0rem;
}

.route,
.display-none {
  display: none;
}

code {
  background: var(--background-light);
  color: var(--text-light);
}

h1, .h1 {
  font-size: 2.0rem;
  margin-bottom: 0.5rem;
}

h2, .h2 {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

h3, .h3 {
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

h4, .h4 {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.blog h2 {
  border-bottom: 2px solid var(--link-color-3);
}

.blog h3 {
  border-bottom: 2px solid var(--link-color-2);
}

.indented {
  padding-left: 1.2em;
}

#intro {
  padding: 1em;
}

#vim-inner
{
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right: 0.8em solid var(--background-light);
  max-width: 1200px;
  height: 96%;
}

#vim {
  border-left: 0.1em solid var(--link-color-1);
  margin-left: 3%;
  min-height: 100%;
}

#vim #link-bar {
  padding: 0;
  margin: 0;

  background: var(--background-light);
  top: 0;
  left: 0;
  width: 100%;
}

#vim #link-bar li {
  display: inline-block;
  font-size: 1.2em;
  padding: 0;
}

.ele-inner {
  padding: 0 0.8em;
  color: var(--text-normal);
}

#home-link.ele-inner {
  padding-left: 1.3em;
}

/* .ele-inner:hover { */
/*   padding: 0 1.2em; */
/*   transition: padding 0.2s; */
/* } */



/* LHS */
#vim #link-bar .ele-left-1 {
  background: var(--link-color-1);
}
#vim #link-bar .ele-left-1.arrow-right:after {
  border-left-color: var(--link-color-1);
  background: var(--link-color-2);
}

#vim #link-bar .ele-left-2 {
  background: var(--link-color-2);
}
#vim #link-bar .ele-left-2.arrow-right:after {
  border-left-color: var(--link-color-2);
  background: var(--link-color-3);
}

#vim #link-bar .ele-left-3 {
  background: var(--link-color-3);
}
#vim #link-bar .ele-left-3.arrow-right:after {
  border-left-color: var(--link-color-3);
  background: var(--background-light);
}



/* RHS */
#vim #link-bar .ele-right-1 {
  background: var(--link-color-4);
}
#vim #link-bar .ele-right-1.arrow-left:before {
  border-right-color: var(--link-color-4);
  background: var(--link-color-5);
}
#vim #link-bar .ele-right-2 {
  background: var(--link-color-5);
}
#vim #link-bar .ele-right-2.arrow-left:before {
  border-right-color: var(--link-color-5);
  background: var(--background-light);
}


#vim #link-bar a {
  cursor: pointer;
}

.arrow-left {
  float: right;
}

.arrow-left:before,
.arrow-right:after {
  content: " ";
  width: 0;
  height: 0;

  border-top:  solid transparent 0.6666666em;
  border-bottom: solid transparent 0.6666666em;
  display: inline-block;
  margin-bottom: -0.33333333em;
}

.arrow-left:before {
  border-right: solid black 1.2em;
  background: var(--background-light);
}

.arrow-right:after {
  border-left: solid black 1.2em;
  background: var(--background-light);
}

@keyframes slide-up {
  from {max-height: 20000px;}
  to {max-height: 0px;}
}
@keyframes slide-down {
  from {max-height: 0px;}
  to {max-height: 20000px;}
}

.slide-up {
  max-height: 0px;
  animation-name: slide-up;
  overflow: hidden;
}

.slide-down {
  max-height: 20000px;
  animation-name: slide-down;
  overflow: hidden;
}

.slide-up, .slide-down {
  animation-timing-function: linear;
  animation-duration: 0.1s;
  display: block;
}

.comment {
  color: var(--text-dark);
}

.hover-underline:hover {
  text-decoration: underline;
}

.float-right {
  float: right;
}

