html, body {
  width: 100%;
  height: 100%;
  background: #272822;
  color: #F9F5C2;
  /* color: #FFF7FB; */
}

a {
  color: #ABAA98;
}

.comment {
  color: #ABAA98;
}

p {
  width: 800px;
}

.typing-active::after{
  content: " ";
  background: #F7208B;
  visibility: visible;
}
.off::after {
  visibility: hidden;
}

.gets-typed {
  white-space: pre-wrap;
  display: none;
}
.display-none {
  display: none;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
}
.h2 {
  font-size: 1.6em;
  font-weight: 400;
}

h1 {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 500;
}
.h1 {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 500;
}

#cursor {
  position: fixed;
  /* background: #FF3D73; */
  background: #F7208B;

  height: 0;
  width: 0;

  left: 0;
  top: 0;
}

#inner {
  padding-left: 1.5em;
}

#vim {
  padding-left: 2em;
}

#vim #sidebar {
  background: #FF3D73;
  /* background: #F7208B; */
  position: fixed;
  top: 0;
  left: 1.9em;
  width: 0.1em;
  height: 10000px;
}
