html, body {
  font-family:  'Oxygen Mono', monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #272822;
  color: #F4F0B8;
  /* color: #FD971F; */
  /* color: #FFF7FB; */
}

ul {
  margin: 0;
}

a {
  color: #ED971F;
  text-decoration: none;
}

.right {
  float: right;
}

.comment {
  color: #ABAA98;
}

.typing-active::after{
  content: " ";
  background: #F7208B;
}
.cursor-off::after {
  display: none;
}

.gets-typed {
  white-space: pre-wrap;
  display: inline-block;
}

.click-expand {
  cursor: pointer;
}

.route,
.display-none {
  display: none;
}

h2, .h2 {
  font-size: 1.6em;
  font-weight: 400;
}

h1, .h1 {
  padding: 0.5em 0;
  font-size: 2em;
  font-weight: 500;
}

.indented {
  padding-left: 1.2em;
}

#intro {
  padding: 1em;
}

#vim-inner, #vim-credits {
  border-right: 0.8em solid #313226; /* Lighter background color */
  width: 800px;
  height: 96%;
}

#vim {
  border-left: 0.1em solid #FF3D73;
  margin-left: 1.6em;
  padding-left: 0.4em;
  height: 100%;
}

#vim #bottom-bar {
  padding: 0;
  margin: 0;

  background: #313226; /* Lighter background color */
  position: fixed;
  top: 95%;
  left: 0;
  margin-left: 1.6em;
  width: 100%;
}

#vim #bottom-bar li {
  display: inline-block;
  font-size: 1.2em;
}

#vim #bottom-bar .ele-inner,
#vim #bottom-bar .ele-inner {
  padding: 0 1em 0 0;
  color: #313226; /* Lighter background color */
}

#vim #bottom-bar .em-left-pad.ele-inner {
  padding-left: 1em;
}


/* LHS */
#vim #bottom-bar .ele-1 {
  background: #FF3D73;
}
#vim #bottom-bar .ele-2.arrow-right:before {
  border-left-color: #FF3D73;
}
#vim #bottom-bar .ele-2 {
  background: #66D9EF;
}
#vim #bottom-bar .ele-final.arrow-right:before {
  border-left-color: #66D9EF;
}


/* RHS */
#vim #bottom-bar .ele-3 {
  background: #A5E22E;
}
#vim #bottom-bar .ele-final.arrow-left:before {
  border-right-color: #A5E22E;
}

#vim #bottom-bar .ele-final {
  background: transparent;
}

#vim-credits div {
  padding-top: 15px;
}

.arrow-left {
  float: right;
}

.arrow-left:before,
.arrow-right:before {
  content: " ";
  width: 0;
  height: 0;

  border-top:  solid transparent 0.67em;
  border-bottom: solid transparent 0.67em;
  display: inline-block;
  margin-bottom: -0.33em;
}

.arrow-left:before {
  border-right: solid black 1.2em;
}

.arrow-right:before {
  border-left: solid black 1.2em;
}

@keyframes slide-up {
  from {max-height: 150px;}
  to {max-height: 0px;}
}
@keyframes slide-down {
  from {max-height: 0px;}
  to {max-height: 150px;}
}

.slide-up {
  max-height: 0px;
  animation-name: slide-up;
  overflow: hidden;
}

.slide-down {
  max-height: 150px;
  animation-name: slide-down;
  overflow: hidden;
}

.slide-up, .slide-down {
  animation-timing-function: linear;
  animation-duration: 0.1s;
  display: block;
}

