html, body {
  width: 100%;
  height: 100%;
  background: #272822;
  color: #F9F5C2;
  /* color: #FFF7FB; */
}

a {
  color: #ABAA98;
}

p {
  width: 800px;
}

.gets-typed {
  display: inline-block;
}

#cursor {
  position: fixed;
  /* background: #FF3D73; */
  background: #F7208B;

  height: 0;
  width: 0;

  left: 0;
  top: 0;
}

.whitespace {
  display: inline-block;
  width: 0.4em;
}

#inner {
  padding-left: 25px;
}

#contact {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.display-none {
  display: none;
}
